<settings>
	<category label="Playlist Testers">
		<setting id="local_path" type="file" label="Select Local M3U Playlist" default="" />
		<setting id="local_choice" type="bool" label="Keep Local M3U Source Path?" default="false" />
		<setting id="enable_local_tester" type="bool" label="Enable Local M3U Playlist Tester" default="true" />
		<setting type="sep" />
		<setting type="sep" />
		<setting type="sep" />
		<setting id="online_path" type="text" label="[B]Enter Online M3U Playlist URL[/B]" default="" />
		<setting id="online_choice" type="bool" label="[B]Keep Online M3U Source Path?[/B]" default="false" />
		<setting id="enable_online_tester" type="bool" label="[B]Enable Online M3U Playlist Tester[/B]" default="true" />
	</category>
	<category label="General">
		<setting id="viet_mode" type="select" label="Select Vietnam Section Mode" values="group|abc order|category" default="group" />
		<setting id="enable_thongbao" type="bool" label="Enable Thong Bao Moi" default="true" />
		<setting id="enable_tvguide" type="bool" label="Enable TV Guide" default="true" />
		<setting id="enable_channel_tester" type="bool" label="Enable Channel Tester" default="true" />
		<setting id="enable_vietmedia" type="bool" label="Enable VietMedia - YouTube" default="true" />
		<setting id="enable_public_uploads" type="bool" label="Enable Public Uploads (Win/Mac PC)" default="true" />
		<setting id="enable_links_to_tutorials" type="bool" label="Enable Links to Tutorials (Win/Mac PC)" default="true" />
		<setting id="enable_autorun" type="bool" label="Enable Autostart cCloud.tv" default="false" />
	</category>
	<category label="Adult">
		<setting id="enable_adult_section" type="bool" label="Enable Adult Section (by enabling, you confirm you are 18+)" default="false" />
	</category>
</settings>