<settings>
	<category label="Tài khoản">
		<setting id="user_id" type="number" label="User Id của bạn (đăng ký tại www.vietmediaF.net)"/>
		<setting id="user_pin_code" type="number" label="Mã PIN (bạn nhập ở diễn đàn)"/>
		<setting id="user_vip_code" type="number" label="Mã VIP [COLOR green]soạn VMF gửi 8698 (10.000đ) để lấy mã[/COLOR]"/>
		<setting id="fshare_username" type="text" label="Tài khoản fshare [COLOR green]Không nhập nếu có VIP CODE[/COLOR]" default=""/>
		<setting id="fshare_password" type="text" option="hidden" label="Mật khẩu fshare" default=""/>
	</category>
	<category label="Khoá thư mục">
		<setting id="lock_pin" type="text" option="hidden" label="Mã khoá" default="0000"/>
	</category>
	<category label="On/Off Autorun">
		<setting id="on_off" type="bool" label="On/Off" default="true"/>
	</category>
	<category label="Tài trợ/Donate">
		<setting id="donate_bank" type="bool" label="Nguyễn Ngọc Đức, TK: 0011000469829, Ngân hàng Ngoại thương Việt Nam - Vietcombank" default="true"/>
		<setting id="donate_paypal" type="bool" label="Paypal: vietkodi@gmail.com" default="true"/>
		<setting id="donate_the_cao" type="bool" label="Thẻ cào xin gửi email về: vietkodi@gmail.com" default="true"/>
	</category>
</settings>