<settings>
	<category label="Tài khoản">
		<setting id="user_id" type="number" label="User Id của bạn (đăng ký tại www.vietmediaF.net)"/>
		<setting id="user_pin_code" type="number" label="Mã PIN (bạn nhập ở diễn đàn)"/>
		<setting id="fshare_username" type="text" label="Tài khoản fshare" default=""/>
		<setting id="fshare_password" type="text" option="hidden" label="Mật khẩu fshare" default=""/>
	</category>
	<category label="Tài trợ/Donate">
		<setting id="donate_bank" type="bool" label="Nguyễn Ngọc Đức, TK: 0011000469829, Ngân hàng Ngoại thương Việt Nam - Vietcombank" default="true"/>
		<setting id="donate_paypal" type="bool" label="Paypal: vietkodi@gmail.com" default="true"/>
		<setting id="donate_the_cao" type="bool" label="Thẻ cào xin gửi email về: vietkodi@gmail.com" default="true"/>
	</category>
</settings>